.page-color {
  /* background-color: rgb(169, 169, 169); */
  /* background-color: rgb(150, 146, 146); */
  /* background-color: rgb(242, 242, 242); */
  background-color: rgb(218, 207, 207);
  /* background-color: #f16770; */
}

.page-color-2 {
  background-color: rgb(245, 239, 239);
}

.x {
  font-size: 21px;
}

.y {
  font-size: 19px;
}