.VideoPlayer {
  aspect-ratio: 16 / 9;
  width: auto;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 768px) {
  .video-player {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}