:root {
  --navbar: #212529;
  --buonos-red: #ce2b37;
  --buonos-white: rgb(242, 242, 242);
  --buonos-green: rgb(0, 146, 70);
  --background-red: #f16770;
  --background-green: rgb(125, 245, 183);
  --background-1: rgb(169, 169, 169); 
  --background-2: rgb(150, 146, 146);
  --shadow: rgb(63, 61, 61);

  --shadow-effect: 2px 2px 4px var(--shadow);

  --stroke-1: -1px 0 #000000, 0 1px black, 1px 0 black, 0 -1px black;
  
  --buonos-font: 'Permanent Marker', cursive;
}

.App {
  /* text-align: center; */
  /* background-color: var(--background-1);  */
  /* background-color: (169, 169, 169);  */
}

.App-header {
  /* background-color: #282c34; */
  /* background-color: var(--background-1); */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

/* .TopNavBar {
  position: fixed;
  width: 100%;
  z-index: 99;
} */

.Menu-top {
  /* margin-top: 60px; */
}

.Header {
  /* color: var(--buonos-red);
  font-family: var(--buonos-font);
  text-shadow: var(--stroke-1);

  font-size: calc(30px + 2vmin); */
}



.Header-image {
  /* max-width: 250px; */
  /* width: 100%; */
  /* border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.Card {
  /* background-color: rgba(177, 42, 42, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px;
  text-align: center;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.Card_text {
  /* font-size: 15px; */
}

.Card_text_2 {
  /* font-size: 13px;
  font-weight: bold; */
}

.Card_Title {
  /* font-weight: bold;
  font-size: 50px; */
}